
// Variables
$almost-black: #181818;
$banner-green: rgb(79, 226, 135);
$darker-green: rgba(74, 212, 127, 0.7);


* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    color: $almost-black;
}

#title{
    display:block;
    background-color: $banner-green;
    color: #ffffff;
    text-align: left;
    padding: 0px 5px;
    h1, h3{
        display:inline-block;
    }
    h1::first-letter{
        color:inherit;
        font-weight: 900;
        font-size:200%;
        padding-right:1px;
    }
    h3 {
        padding-left:4px;
        font-size: 20px;
    }
}

#input{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 11px 10px;
    textarea{
        outline:none;
        resize:none;
        padding:5px;
        border-radius:10px;
        border: 2px solid $darker-green;
    }
    textarea::placeholder{
        font-style:italic;
        opacity: 0.25;
    }
}

.output{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.col{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}
.text-box{
    display:flex;
    margin: 5px;
    input{
        flex-grow: 1;
        min-width:200px;
        min-height:2em;
        text-align: center;
        padding: 15px 45px;
        border: 2px solid $almost-black;
        border-radius: 3px;
        cursor:pointer;
        outline:none;
    }
}


footer {
    position:absolute;
    bottom:0;
    svg{
        margin: 3px;
    }
}

// media-queries for large screens
$layout-large-screen: 1920px;
@media (min-width: $layout-large-screen){
    #title{
        h1 {
            font-size: 40px;
        }
        h3{
            font-size: 32px;
        }
    }
    .text-box{
        input{
            font-size: 24px;
        }
    }
}